.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

#App__map {
  grid-column: 1 / 5;
  grid-row: 1 / -1
}

.App__navigation{
  grid-column:  5 / 6;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center;
  background-color: rgba(64, 44, 134, 0.733);
  flex-wrap: wrap;
  align-items: center;
}
.navigation__title{
  font-size: 1.1rem;
}
.navigation__info{
  text-align: left;
  border:blanchedalmond;
  border-top-style: dotted;
  border-bottom-style: dotted;
  padding: 0.1rem 0 0.3rem 0;
}
.navigation__info-second{
  font-weight: bold;
  text-align: center;
}
.navigation__info--car-color{
  display:block;
  height: 0.625rem;
  width:100%;
  border: black;
  border-radius: 1rem;
  border-style: solid;
}

.navigation__box-for-spaces{
  height: 10.25rem;
  width: 90%;
  margin: auto;
  background-color: antiquewhite;
  column-gap: 1px;
}
.baterry-items {
  display: flex;
  /* flex: 80%; */
  flex-direction: column;
  justify-content: space-between;
}

.battery {
  height: 3.75rem;
  width: 12.25rem;
  border: 0.357rem solid black;
  position: relative;
}

.battery::after {
  height: 1.25rem;
  width: 0.9375rem;
  background-color: black;
  content: '';
  position: absolute;
  right: -0.9375rem;
  top: 1.125rem;
  bottom: 0.3125rem;
}

.battery_status_discharged {
  background: linear-gradient(to left, blanchedalmond, blanchedalmond 80%, red 0%);
}

.battery_status_halfway {
  background: linear-gradient(to left, blanchedalmond, blanchedalmond 50%, orange 0%);
}

.battery_status_charged-is-not-full {
  background: linear-gradient(to left, blanchedalmond, blanchedalmond 5%, green 0%);
  text-align: center;
}
.battery_status_charged-is-full {
  background: linear-gradient(to left, blanchedalmond, blanchedalmond 0%, green 0%);
  text-align: center;
}
.navigation__bar{
  flex:100%;
  display: flex;
  justify-content: space-evenly;
}
.navigation__bar--btn{
  margin-bottom: 1.5rem;
  margin-top: auto;
  background-color: blanchedalmond;
  border: 0.125rem solid black;
  max-height: 2rem;
}
.navigation__bar--btn:hover{
  color: antiquewhite;
  background-color: black;
  box-shadow: 0.2rem -0.2rem green;
  cursor: pointer;

}
@media only screen and (max-width: 1080px) {
  .App {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  #App__map {
    grid-column: 1 / -1;
    grid-row: 1 / 5;
  }
  
  .App__navigation{
    grid-column:  1 / -1;
    grid-row: 5 / 6;
    display: flex;
    justify-content: center;
    background-color: rgba(64, 44, 134, 0.733);
    flex-wrap: nowrap;
    align-items: center;
  }
  .navigation__bar{
    flex-direction:column;
    flex-basis: 20%;
  }
  .navigation__bar--btn{
    margin: 0.6rem auto;
    max-width: 6rem;
    min-width: 6rem;
  }
  .navigation__article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
  }
  .navigation__title{
    order: 1;
    margin-left: 1rem;
    flex-basis: 40%;
  }
  .navigation__info{
    order: 2;
    margin-left: 1rem;
    flex-basis: 40%;
  }
  .baterry-items{
    order: 5;
    flex-basis: 30%;
  }
  .navigation__title-second{
    text-align: left;
    flex-basis: 40%;
  }
  .navigation__box-for-spaces{
    order: 5;
    max-height: 5rem;
    flex-basis: 45%;
    margin: 0 0 1rem 0;
    background-color: antiquewhite;
    column-gap: 1px;
  }
}
@media only screen and (max-width: 520px){
  .App__navigation{
    column-gap: 1rem;
  }
  .navigation__article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
  .navigation__title{
    order: 1;
    margin-left: 1rem;
    flex-basis: 100%;
  }
  .navigation__info{
    order: 2;
    margin-left: 1rem;
    flex-basis: 100%;
  }
  .baterry-items{
    order: 5;
    margin-left: 15%;
    flex-basis: 100%;
  }
  .navigation__title-second{
    order: 3;
    text-align: center;
    flex-basis: 100%;
  }
  .navigation__box-for-spaces{
    order: 5;
    max-height: 3rem;
    flex-basis: 100%;
    margin: 0 0 1rem 0;
    margin-left: 1rem;
    column-gap: 1px;
  }
}


